/* BASIC SETUP */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
:root {
  --space: 0.4em;
  font-size: 20px;
}
body {
  font-family: 'Open sans', sans-seriff;
  color: #eee;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgb(30, 30, 30);
  background-image: url(img/zelda-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* GENERAL */
.container {
  width: 100%;
  margin: 3.125rem auto 1rem auto;
}
@media screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
}
header {
  text-align: center;
  margin-bottom: 2rem;
}
h1 {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.2;
  color: white;
  margin-top: 0;
}
p {
  margin-bottom: var(--space);
}
.italic {
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
}

/* FORM */
form,
header {
  padding: 2rem 0.4rem 0.4rem 0.4rem;
  background-color: rgba(192, 224, 255, 0.15);
  border-radius: 0.4rem;
}
@media screen and (min-width: 600px) {
  form {
    padding: 2rem 1.5rem 1rem 1.5rem;
  }
}
.form__field {
  margin-bottom: 2.5em;
}
.form__input {
  display: block;
  width: 100%;
  margin-top: var(--space);
  padding: 0.7em;
  box-sizing: border-box;
}
.radio-check label {
  display: block;
  margin-bottom: 0.6em;
}
.textarea {
  resize: vertical;
  min-height: 5rem;
}
.submit-button {
  font-size: 1.1rem;
  display: block;
  width: 100%;
  padding: 1rem;
  color: white;
  background-color: #16a085;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
